
.full-height {
  height: 100vh;
}

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

.btn-link {
  text-decoration: none; /* Remove underline from link */
}

.btn-link button {
  color: white; /* Set the button text color to white */
}
